body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#content {
    display: flex;
    height: fit-content;
    overflow: hidden;
}

#main-content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

#sidebar {
    background-color: #f4f4f4;
    width: 200px;
    padding: 20px;
}

#footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left:0;
    right: 0;
}

#navbar {
    display: inline-flex;
    flex-direction: row;
    padding: 1vh 2vw;
    gap: 3vw;
    transition: width 0.3s;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5vh 1vw;
    border-radius: 1rem;
}

#navbar a:hover {
    background-color: white;
    color: black;
}