<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/global-inputs.css" />
    <link type="text/css" rel="stylesheet" href="/css/table.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<script src="/js/fetching.js"></script>

<body>
    <div id="header">
        <!-- Common header content goes here -->
        <h1>COMP309 Police Dataset Predictor Project</h1>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>

    <div id="content">
        <div id="main-content">
            <!-- Content of specific pages will be inserted here -->
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <!-- Common footer content goes here -->
        <p>Group 5 2023</p>
    </div>
</body>

</html>