<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="header">
        <!-- Common header content goes here -->
        <h1>COMP309 Police Dataset Predictor Project</h1>
    </div>

    <div id="content">
        <div id="main-content">
            <!-- Content of specific pages will be inserted here -->
            {% block content %}{% endblock %}
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" id="menu-toggle-label">&#9776; Menu</label>
        <div id="sidebar">
            <!-- Right side navbar content goes here -->
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <!-- Add more links as needed -->
            </ul>
        </div>
    </div>

    <div id="footer">
        <!-- Common footer content goes here -->
        <p>&copy; 2023 My Website</p>
    </div>
</body>

</html>